.gameBoardComponent {
  @extend .noselect;


  $cellEmptyColor: #f0f8fa;
  $cellHoverColor: #fafafa;
  $cellShipColor: #999;
  $cellMissColor: #ffffff;
  $cellHitColor: #ecb182;
  $gridBorderColor: #555;

  $cellSize: 4rem;

  border: solid #555;
  border-width: 0 1px 1px 0;
  display: inline-block;
  margin: $cellSize;

  .boardRow {
    height: $cellSize;
    .boardCell {
      width: $cellSize;
      height: $cellSize;
      border: solid $gridBorderColor;
      border-width: 1px 0 0 1px;
      display: inline-block;
      cursor: default;




      &.empty {
        background-color: $cellEmptyColor;
        &:active {
          background-color: #aaa;
        }
      }

      &.ship {
        background-color: $cellShipColor;
      }

      &.miss {
        background-color: $cellMissColor;
      }

      &.hit {
        background-color: $cellHitColor;
      }
    }

  }

  &.active {


    .boardRow {
      .boardCell {
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }

        &.pressed {
          background-color: $cellShipColor;
        }
      }
    }
  }


}
