.gameBoardComponent {
  @extend .noselect;



  display: inline-block;
  margin: $cellSize;

  .board {
    .boardRow {
      height: $cellSize;

      .rowLabel {
        width: $cellSize;
        height: $cellSize;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        line-height: $cellSize;
      }
      .boardCell {
        width: $cellSize;
        height: $cellSize;
        border: solid $gridBorderColor;
        border-width: 1px 0 0 1px;
        display: inline-block;
        cursor: default;

        &:last-child {
          border-right-width: 1px;
        }

        &.empty {
          background-color: $cellEmptyColor;
        }

        &.ship {
          background-color: $cellShipColor;
        }

        &.miss {
          background-color: $cellMissColor;
        }

        &.hit {
          background-color: $cellHitColor;
        }
      }

      &:last-child {
        .boardCell {
          border-bottom-width: 1px;
        }
      }

    }

    .boardColumnsHeader {
      height: $cellSize;
      .columnHeader {
        width: $cellSize;
        height: $cellSize;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        line-height: $cellSize;
      }
    }
  }

  &.active {

    .board {

      .boardRow {
        .boardCell {
          cursor: pointer;

          &.empty {
            &:active {
              background-color: #aaa;
            }
          }

          &:hover {
            opacity: 0.5;
          }

          &.pressed {
            background-color: $cellShipColor;
          }
        }
      }
    }
  }

  &.inactive {
    opacity: 0.5;
  }


}
