.shipsPalette {

  white-space: nowrap;

  .shipContainer {

    width: $cellSize;
    height: $cellSize * 4;
    margin-right: $cellSize / 2;
    display: inline-block;
    vertical-align: top;

    .ship {

      position: relative;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 1;

      &.dragged {
        opacity: 0.5;
      }

      &.vertical {
        width: $cellSize;
      }

      &.horizontal {
        height: $cellSize;
        white-space: nowrap;

        .shipCell {
          display: inline-block;

        }
      }

      .shipCell {
        width: $cellSize;
        height: $cellSize;
        border: solid $gridBorderColor;
        border-width: 1px 1px 0 1px;
        background-color: $cellShipColor;

        &:last-child {
          border-bottom-width: 1px;
        }
      }
    }


  }
}